@using Microsoft.AspNet.Identity;
@using App.Extensions;
@using CoursePlanner.Controllers;
@using CoursePlanner.Models;


@{StudentController studentControl = new StudentController();
    Student student = studentControl.getStudentInfo(User.Identity.GetStudentId());
}


<!-- ko with: home -->

<div class="container">
    <div class="row profile">
        <div class="col-md-3">
            <div class="profile-sidebar">

                <div class="profile-userpic">
                    <img src="~/Images/avatar.png" class="img-responsive" alt="">
                </div>
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">
                      @User.Identity.GetFullName()
                    </div>
                    <div class="profile-usertitle-job">
                        @if(student.Majors !=null && student.Majors.Count >0)
                        {
                            foreach (DegreeProgram major in student.Majors)
                            {
                                @major.Name
                                <div>
                                    <button class="button" onclick="changeMajorButton('@major.Name')">Change Major</button>
                                </div>
                                <div>
                                    <button class="button" onclick="removeMajorButton('@major.Name')">Remove Major</button>
                                </div>
                            }
                            <h6></h6>
                            <button class="button" onclick="addMajorButton()">Add Additional Major</button>
                        }
                        else
                        {
                            <h4>Undeclared</h4>
                            <button class="button" onclick="addMajorButton()">Declare Major</button>
                        }

                    </div>
                    <div class="profile-usersubtitle-job">
                        @if(student.Minors !=null && student.Minors.Count >0)
                        {
                            foreach (DegreeProgram minor in student.Minors)
                            {
                                @minor.Name
                                <button class="button" onclick="changeMinorButton('@minor.Name')">Change Minor</button>
                                <button class="button" onclick="removeMinorButton('@minor.Name')">Remove Minor</button>
                            }
                            <h6></h6>
                            <button class="button" onclick="addMinorButton()">Add Additional Minor</button>
                        }
                        else
                        {
                            <h6>No Minor</h6>
                            <button class="button" onclick="addMinorButton()">Add Minor</button>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="container">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
                    <li><a data-toggle="tab" href="#tabProgress">Progress Bar</a></li>
                </ul>
                <div class="tab-content">
                    <div id="home" class="tab-pane fade in active">
                        @{Html.RenderPartial("~/Views/Tabs/CalendarMatrix.cshtml");}
                    </div>
                    <div id="tabProgress" class="tab-pane fade">
                        <div>
                            @{Html.RenderPartial("~/Views/Tabs/ProgressBar.cshtml");}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /ko -->


<script>
    function addMajorButton() {
        var newDegree = prompt("Please enter new Major in DEPT format or name of Major");
        if (newDegree == null || newDegree == "") {
            //do nothing
        }
        else {
            post('/', { degree: newDegree, delete1: "2" });
        }
    }

    function addMinorButton() {
        var newDegree = prompt("Please enter new Minor in DEPT format or name of Minor");
        if (newDegree == null || newDegree == "") {
            //do nothing
        }
        else {
            post('/', { degree: newDegree, delete1: "3" });
        }
    }

    function removeMajorButton(majorName) {
            post('/', { degree: majorName, delete1: "4" });
    }
    function removeMinorButton(minorName) {
            post('/', { degree: minorName, delete1: "5" });
    }

    function changeMajorButton(oldMajor) {
        var newDegree = prompt("Please enter new Major in DEPT format or name of Major");
        if (newDegree == null || newDegree == "") {
            //do nothing
        }
        else {
            post('/', { degree: newDegree, oldDegree: oldMajor, delete1: "6" });
        }
    }

    function addMinorButton(oldMinor) {
        var newDegree = prompt("Please enter new Minor in DEPT format or name of Minor");
        if (newDegree == null || newDegree == "") {
            //do nothing
        }
        else {
            post('/', { degree: newDegree, oldDegree: oldMinor, delete1: "7" });
        }
    }

    function post(path, params, method) {
        method = method || "post"; // Set method to post by default if not specified.

        // The rest of this code assumes you are not using a library.
        // It can be made less wordy if you use one.
        var form = document.createElement("form");
        form.setAttribute("method", method);
        form.setAttribute("action", path);

        for (var key in params) {
            if (params.hasOwnProperty(key)) {
                var hiddenField = document.createElement("input");
                hiddenField.setAttribute("type", "hidden");
                hiddenField.setAttribute("name", key);
                hiddenField.setAttribute("value", params[key]);

                form.appendChild(hiddenField);
            }
        }

        document.body.appendChild(form);
        form.submit();
    }

</script>