@using CoursePlanner.Models
@using CoursePlanner.Controllers;
@using App.Extensions;
@model DegreeProgram
@{
    //var studentId = // get studentId from session
    ViewBag.Title = "Calendar";
    var studentID = User.Identity.GetStudentId();
    StudentController studentData = new StudentController();
    Student student = studentData.getStudentInfo(0);
    // now you have the students information
    // strip out the semesters
    var sem1 = student.Plan.Semesters.Where(s => s.Code == 1).First().Courses;
    var sem2 = student.Plan.Semesters.Where(s => s.Code == 2).First().Courses;
    var sem3 = student.Plan.Semesters.Where(s => s.Code == 3).First().Courses;
    var sem4 = student.Plan.Semesters.Where(s => s.Code == 4).First().Courses;
    var sem5 = student.Plan.Semesters.Where(s => s.Code == 5).First().Courses;
    var sem6 = student.Plan.Semesters.Where(s => s.Code == 6).First().Courses;
    var sem7 = student.Plan.Semesters.Where(s => s.Code == 7).First().Courses;
    var sem8 = student.Plan.Semesters.Where(s => s.Code == 8).First().Courses;
}
@{
    var name = "";
    var sem = 0;
    var del = 0;
    var status = 0;
    if (IsPost)
    {
        del = Int32.Parse(Request.Form["delete1"]);

        if (del == 0)
        {
            name = Request.Form["class"];
            sem = Int32.Parse(Request.Form["semNo"]);
            status = studentData.addCourse(0, name, sem);
            if (status == -1)
            {
                Response.Write("<script>alert('Error: Invalid Course Number.');</script>");
            }
        }
        else
        {
            name = Request.Form["class"];
            sem = Int32.Parse(Request.Form["semNo"]);
            studentData.removeCourse(0, name, sem);
        }
    }

}
<!doctype html>
<html>
<head>
    <script type='text/javascript' src='~/Scripts/knockout-3.4.2.js'></script>
    <script type='text/javascript' src='~/Scripts/knockout.validation.js'></script>
    <!--<script type='text/javascript' src='~/Scripts/require.js'></script>-->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Muuri Table</title>
    <link rel="stylesheet" href="~/Content/StyleSheet1.css">

    <script>
        ko.components.register('class-widget', {
            viewModel: function (params) {
                // Data: value is either null, 'like', or 'dislike'
                this.className = ko.observable(params.name);
                this.classCode = ko.observable(params.id);
                // Behaviors
                this.addClass = function () {
                    // create pop up to add a course
                }.bind(this);
            },
            template: '<div class="class-widget">\
                        <div data-bind="visible: !className()">\
                            <button data-bind="click: addClass">Click me</button>\
                        </div>\
                        <div>\
                            <strong data-bind="text: className"></strong>\
                            <strong data-bind="text: classCode"></strong>\
                        </div>\
                       </div>' 
        });
    </script>

</head>
<body>
    <!-- need to update the list at hand when items are moved around -->
    <!-- save the order to the student object, maybe have an update button to update db?-->
    <div class="board">

        <div class="board-column Sem1">
            <div class="board-column-header">Semester 1</div>
            <div class="board-column-content">
                @{var i = 0;
                foreach (var course in sem1)
                {
                    i++;
                    <div class="board-item" id=@course.Id>
                        <div class="board-item-content">
                            <div data-bind="component: { name: 'class-widget', params: { id: @course.Id, name: '@course.Name' }}"></div> @*TODO I would change course.Id to course.DeptCode*@

                            @*<button class="button" onclick="editClassButton()">Edit Class</button>*@



                            <button class="button" onclick="removeClassButton('@course.DeptCode',0)">Remove Class</button>
                        </div>
                    </div>
            }
            for (; i < 6; i++)
            {
                <div class="board-item" >
                    <div class="board-item-content">
                        Add a Class
                        <button class="button" onclick="addClassButton(0)">+</button>
                        @*<asp:Button runat="server" OnClick="addCourseClick" />*@
                    </div>

                </div>
        }}
            </div>
        </div>

        <div class="board-column Sem2">
            <div class="board-column-header">Semester 2</div>
            <div class="board-column-content">
                @{i = 0;
                foreach (var course in sem2)
                {
                    i++;
                    <div class="board-item" id=@course.Id>
                        <div class="board-item-content">
                            <div data-bind="component: { name: 'class-widget', params: { id: @course.Id, name: '@course.Name' }}"></div>

                            @*<button class="button" onclick="editClassButton()">Edit Class</button>*@



                            <button class="button" onclick="removeClassButton('@course.DeptCode',1)">Remove Class</button>
                        </div>
                    </div>
            }
            for (; i < 6; i++)
            {
                <div class="board-item">
                    <div class="board-item-content">
                        Add a Class
                        <button class="button" onclick="addClassButton(1)">+</button>
                    </div>

                </div>
        }}
            </div>
        </div>

        <div class="board-column Sem3">
            <div class="board-column-header">Semester 3</div>
            <div class="board-column-content">
                @{i = 0;
                foreach (var course in sem3)
                {
                    i++;
                    <div class="board-item" id=@course.Id>
                        <div class="board-item-content">
                            <div data-bind="component: { name: 'class-widget', params: { id: @course.Id, name: '@course.Name' }}"></div>

                            @*<button class="button" onclick="editClassButton()">Edit Class</button>*@



                            <button class="button" onclick="removeClassButton('@course.DeptCode',2)">Remove Class</button>
                        </div>
                    </div>
            }
            for (; i < 6; i++)
            {
                <div class="board-item">
                    <div class="board-item-content">
                        Add a Class
                        <button class="button" onclick="addClassButton(2)">+</button>
                    </div>

                </div>
        }}
            </div>
        </div>

        <div class="board-column Sem4">
            <div class="board-column-header">Semester 4</div>
            <div class="board-column-content">
                @{i = 0;
                foreach (var course in sem4)
                {
                    i++;
                    <div class="board-item" id=@course.Id>
                        <div class="board-item-content">
                            <div data-bind="component: { name: 'class-widget', params: { id: @course.Id, name: '@course.Name' }}"></div>

                            @*<button class="button" onclick="editClassButton()">Edit Class</button>*@



                            <button class="button" onclick="removeClassButton('@course.DeptCode',3)">Remove Class</button>
                        </div>
                    </div>
            }
            for (; i < 6; i++)
            {
                <div class="board-item">
                    <div class="board-item-content">
                        Add a Class
                        <button class="button" onclick="addClassButton(3)">+</button>
                    </div>

                </div>
        }}
            </div>
        </div>

        <div class="board-column Sem5">
            <div class="board-column-header">Semester 5</div>
            <div class="board-column-content">
                @{i = 0;
                foreach (var course in sem5)
                {
                    i++;
                    <div class="board-item" id=@course.Id>
                        <div class="board-item-content">
                            <div data-bind="component: { name: 'class-widget', params: { id: @course.Id, name: '@course.Name' }}"></div>

                            @*<button class="button" onclick="editClassButton()">Edit Class</button>*@



                            <button class="button" onclick="removeClassButton('@course.DeptCode',4)">Remove Class</button>
                        </div>
                    </div>
            }
            for (; i < 6; i++)
            {
                <div class="board-item">
                    <div class="board-item-content">
                        Add a Class
                        <button class="button" onclick="addClassButton(4)">+</button>
                    </div>

                </div>
        }}
            </div>
        </div>

        <div class="board-column Sem6">
            <div class="board-column-header">Semester 6</div>
            <div class="board-column-content">
                @{i = 0;
                foreach (var course in sem6)
                {
                    i++;
                    <div class="board-item" id=@course.Id>
                        <div class="board-item-content">
                            <div data-bind="component: { name: 'class-widget', params: { id: @course.Id, name: '@course.Name' }}"></div>

                            @*<button class="button" onclick="editClassButton()">Edit Class</button>*@



                            <button class="button" onclick="removeClassButton('@course.DeptCode',5)">Remove Class</button>
                        </div>
                    </div>
            }
            for (; i < 6; i++)
            {
                <div class="board-item">
                    <div class="board-item-content">
                        Add a Class
                        <button class="button" onclick="addClassButton(5)">+</button>
                    </div>

                </div>
        }}
            </div>
        </div>

        <div class="board-column Sem7">
            <div class="board-column-header">Semester 7</div>
            <div class="board-column-content">
                @{i = 0;
                foreach (var course in sem7)
                {
                    i++;
                    <div class="board-item" id=@course.Id>
                        <div class="board-item-content">
                            <div data-bind="component: { name: 'class-widget', params: { id: @course.Id, name: '@course.Name' }}"></div>

                            @*<button class="button" onclick="editClassButton()">Edit Class</button>*@



                            <button class="button" onclick="removeClassButton('@course.DeptCode',6)">Remove Class</button>
                        </div>
                    </div>
            }
            for (; i < 6; i++)
            {
                <div class="board-item">
                    <div class="board-item-content">
                        Add a Class
                        <button class="button" onclick="addClassButton(6)">+</button>
                    </div>

                </div>
        }}
            </div>
        </div>

        <div class="board-column Sem8">
            <div class="board-column-header">Semester 8</div>
            <div class="board-column-content">
                @{i = 0;
                foreach (var course in sem8)
                {
                    i++;
                    <div class="board-item" id=@course.Id>
                        <div class="board-item-content">
                            <div data-bind="component: { name: 'class-widget', params: { id: @course.Id, name: '@course.Name' }}"></div>

                            @*<button class="button" onclick="editClassButton()">Edit Class</button>*@
                            


                            <button class="button" onclick="removeClassButton('@course.DeptCode',7)">Remove Class</button>
                        </div>
                    </div>
            }
            for (; i < 6; i++)
            {
                <div class="board-item">
                    <div class="board-item-content">
                        Add a Class
                        <button class="button" onclick="addClassButton(7)">+</button>
                    </div>

                </div>
        }}
            </div>
        </div>





    </div>

   

    <script src="https://cdnjs.cloudflare.com/ajax/libs/web-animations/2.3.1/web-animations.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/muuri/0.5.3/muuri.min.js"></script>
    <script>

        function addClassButton(sem) {
            var newClass = prompt("Please enter new class in DEPT#### format");
            

            if (newClass == null || newClass == "") {
                //do nothing
            }
            else {
                post('/', { class: newClass, semNo: sem, delete1: "0" });
                //studentData.addCourse(0, newClass, 0);
                //Console.WriteLine("new class: " + newClass);

                
             }
        }

        function removeClassButton(className, sem) {
               post('/', { class: className, semNo: sem, delete1: "1" });
                //studentData.addCourse(0, newClass, 0);
                //Console.WriteLine("new class: " + newClass);            
        }

       
        function post(path, params, method) {
            method = method || "post"; // Set method to post by default if not specified.

            // The rest of this code assumes you are not using a library.
            // It can be made less wordy if you use one.
            var form = document.createElement("form");
            form.setAttribute("method", method);
            form.setAttribute("action", path);

            for (var key in params) {
                if (params.hasOwnProperty(key)) {
                    var hiddenField = document.createElement("input");
                    hiddenField.setAttribute("type", "hidden");
                    hiddenField.setAttribute("name", key);
                    hiddenField.setAttribute("value", params[key]);

                    form.appendChild(hiddenField);
                }
            }

            document.body.appendChild(form);
            form.submit();
        }


        function delete1(path, params, method) {
            method = method || "delete"; // Set method to post by default if not specified.

            // The rest of this code assumes you are not using a library.
            // It can be made less wordy if you use one.
            var form = document.createElement("form");
            form.setAttribute("method", method);
            form.setAttribute("action", path);

            for (var key in params) {
                if (params.hasOwnProperty(key)) {
                    var hiddenField = document.createElement("input");
                    hiddenField.setAttribute("type", "hidden");
                    hiddenField.setAttribute("name", key);
                    hiddenField.setAttribute("value", params[key]);

                    form.appendChild(hiddenField);
                }
            }

            document.body.appendChild(form);
            form.submit();
        }

        var itemContainers = [].slice.call(document.querySelectorAll('.board-column-content'));
        var columnGrids = [];
        var boardGrid;

        // Define the column grids so we can drag those
        // items around.
        itemContainers.forEach(function (container) {

            // Instantiate column grid.
            var grid = new Muuri(container, {
                items: '*',
                layoutDuration: 400,
                layoutEasing: 'ease',
                dragEnabled: true,
                dragSort: function () {
                    return columnGrids;
                },
                dragSortInterval: 0,
                dragContainer: document.body,
                dragReleaseDuration: 400,
                dragReleaseEasing: 'ease'
            })
            .on('dragStart', function (item) {
                // Let's set fixed widht/height to the dragged item
                // so that it does not stretch unwillingly when
                // it's appended to the document body for the
                // duration of the drag.
                item.getElement().style.width = item.getWidth() + 'px';
                item.getElement().style.height = item.getHeight() + 'px';
            })
            .on('dragReleaseEnd', function (item) {
                // Let's remove the fixed width/height from the
                // dragged item now that it is back in a grid
                // column and can freely adjust to it's
                // surroundings.
                item.getElement().style.width = '';
                item.getElement().style.height = '';
                // Just in case, let's refresh the dimensions of all items
                // in case dragging the item caused some other items to
                // be different size.
                columnGrids.forEach(function (grid) {
                    grid.refreshItems();
                });
            })
            .on('layoutStart', function () {
                // Let's keep the board grid up to date with the
                // dimensions changes of column grids.
                boardGrid.refreshItems().layout();
            });

            // Add the column grid reference to the column grids
            // array, so we can access it later on.
            columnGrids.push(grid);

        });

        // Instantiate the board grid so we can drag those
        // columns around.
        boardGrid = new Muuri('.board', {
            layoutDuration: 400,
            layoutEasing: 'ease',
            dragEnabled: false,
            dragSortInterval: 0,
            dragStartPredicate: {
                handle: '.board-column-header'
            },
            dragReleaseDuration: 400,
            dragReleaseEasing: 'ease'
        });

    </script>
</body>
</html>